@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Work+Sans:wght@100&display=swap");

@font-face {
  font-family: "Android";
  src: url("/page-Layout/arquivos-Fonte-Desafio/fontes/idroid.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --cor0: #ebe5c5;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Staatliches", cursive, "Work Sans", sans-serif;
  --fonte-android: "Android", cursive;
}
* {
  padding: 0;
  margin: 0;
}
/* vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
} */

body {
  background-color: var(--cor0);
}
a.externo::after {
  content: "\00a0\1f517";
}
header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}
header > h1 {
  color: white;
  font-family: var(--fonte-destaque);
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: normal;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p {
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  color: white;
  max-width: 600px;
  margin: auto;
  padding: 0px 10px 0px 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
nav {
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 7px 7px;
}
nav > a {
  color: var(--cor1);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 30px;
  transition-duration: 0.5s;
}
nav > a:hover {
  background-color: var(--cor2);
  color: var(--cor4);
}
main {
  background-color: white;
  max-width: 1000px;
  min-width: 300px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0 0, 0, 0.418);
  border-radius: 0px 0px 10px 10px;
}
main h1 {
  color: var(--cor5);
  font-family: var(--fonte-android);
  font-weight: normal;
  font-size: 1.8em;
}
main h2 {
  font-family: var(--fonte-android);
  color: var(--cor4);
  font-size: 1.3em;
  font-weight: normal;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
}
main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
}
main strong {
  color: var(--cor4);
  font-weight: bold;
}
main a {
  text-decoration: none;
  font-weight: bold;
  background-color: var(--cor1);
  padding: 2px 6px;
}
main a:hover {
  text-decoration: underline;
  color: var(--cor4);
}
main img {
  width: 100%;
}
main img.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}
div.video {
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 58%;
  position: relative;
}
div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;

}
aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
aside > h3 {
  background-color: var(--cor5);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}
aside > ul {
  list-style:none;
  columns: 2;
}
footer {
  background-color: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}
footer a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--cor1);
}

/* nav {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
  font-size: 17 px;
  padding: 15px;
}
nav > a {
  color: white;
  text-decoration: none;
  padding-right: 15px;
  font-size: 16px;
}
nav > :hover {
  color: aqua;
} */
/* main > h1 {
  background-color: white;
  width: 85%;
  margin: auto;
  border-radius: 0 0 15px 15px; */
/* article > h1 {
  font-family: "idroid", Verdana;
  padding: 10px;
}
article > p {
  text-indent: 24px;
  text-align: justify;
  padding: 15px;
  font-size: 20px;
}
h2 {
  font-family: "idroid", Verdana;
  padding: 0 10px;
  background-image: linear-gradient(to right, #a5e1c0, #ffff);
  margin: 10px;
}
picture {
  text-align: center;
  display: block;
}
iframe {
  border: solid 40px #1a5c38;
}
aside {
  background-color: #a5e1c0;
  max-width: 95%;
  border-radius: 15px;
  margin: 15px;
}
h3 {
  font: bold 16px Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
  color: #ffff;
  padding: 15px 25px;
  background-color: #299457;
  border-radius: 15px 15px 0px 0px;
}
video {
  max-width: 95%;
}
aside > p,
ul,
table {
  text-indent: 24px;
  text-align: justify;
  padding: 15px;
  font-size: 20px;
}

footer > p {
  background-color: #1a5c38;
  text-align: center;
  color: #fff;
  padding: 5px;
  border-top: 10px;
  font-size: 16px;
} */
